body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  display: none;
}

/* Главная. Шапка */
.main-header {
  background-color: #eeeeee;
}

.main-header-catalog {
  background-color: #eeeeee;
  height: 355px;
}


.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  line-height: 1.88;
  padding-top: 45px;
  font-weight: 500;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin: auto 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 438px;
  margin-top: 29px;
  margin-right: 43px;
}

.cart-img {
  margin-right: 26px;
}

.site-navigation li,
.filters ul,
.footer-social,
.about-us-text-adv ul,
.about-us-stats ul,
.partners ul,
.examples-header ul,
.slider-buttons ul,
.pagination,
.examples {
  list-style: none;
}

.cart {
  display: flex;
  margin-top: 30px;
}

.main-navigation a:hover {
  color: #fb565a ;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.active-page{
  padding-bottom: 12px;
  border-bottom: 2px solid #fb565a;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo:hover {
  opacity: 0.3;
}

.sliders {
  position: relative;
  margin-top: 11px;
}

.header-slider {
  background-color: #eeeeee;
  display: flex;
  height: 413px;
}

.slider {
  margin-left: 6px;
}

.slider-buttons {
  position: absolute;
  left: 506px;
  top: 283px;
}

.slider-text h2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  width: 425px;
  margin-top: 59px;
  margin-bottom: 28px;
}

.slider-text p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #283136;
  width: 410px;
}

.slider-text a {
  width: 240px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  margin-top: 40px;
}

.slider-buttons ul {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.active-slider {
  opacity: 0.3;
}

.slider-button {
  width: 18px;
  height: 18px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.center {
  padding-top: 150px;
  margin: 0px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  padding: 80px 0px  80px 0px;
}
.catalog-sites,
.catalog-apps,
.catalog-pres {
  width: 300px;
}

.catalog-pres {
  margin-right: 61px;
}


.catalog p {
  width: 250px;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 43px;
}

.catalog-h1 {
  height: 150px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
  background-color: #eeeeee;
  padding: 0;
  padding-top: 72px;
  text-align: center;
  margin: 0px;
}

/* Главная. Каталог */
.catalog h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 3px;
}

.catalog p {
  font-size: 16px;
  color: #283136;
}

.catalog a {
  line-height: 1.13;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}
/*Задаю бэкгрануд и состояния кнопкам «Заказать» на главной*/
.offer-bottom {
  display: block;
  border-radius: 3px;
  text-align: center;
  width: 160px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 35px;
}

.catalog-sites-offer {
  background-color: #fb565a;
}

.catalog-sites-offer:hover {
  background-color: #e74246;
}

.catalog-sites-offer:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-apps-offer {
  background-color: #00ca74;
}

.catalog-apps-offer:hover {
  background-color: #00bc6c;
}

.catalog-apps-offer:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-pres-offer {
  background-color: #efc84a;
}

.catalog-pres-offer:hover {
  background-color: #eab534;
}

.catalog-pres-offer:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
/* Блок о нас */
.about-us {
  display: flex;
  justify-content: space-between;
}

.line {
  width: 1160px;
  height: 2px;
  background-color: black;
  opacity: 0.2;
  margin-bottom: 34px;
}

.about-us-text {
  margin-right: 150px;
}

.about-us-text h2 {
  width: 650px;
  height: 87px;
  font-size: 45px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1;
}

.about-us-text p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  width: 616px
}

.about-us-text h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.about-us-stats {
  margin-top: 32px;
}

.about-us-stats h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.about-us-stats ul {
  display: flex;
  padding: 0;
  position: relative;
}

.about-us-stats li {
  line-height: 18px;
}

.percent {
  position: absolute;
  top: 38px;
  font-size: 26px;
}

.percent100 {
  padding-left: 14px;
}
.percent50 {
  padding-left: 19px;
}

.about-us-stats h4 {
  font-size: 45px;
  font-weight: bold;
  line-height: 0.22;
  margin: 45px 26px 34px 0px;
}

.about-us-stats p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  color: #283136;
}

.about-us-text-adv h3 {
  margin-top: 39px;
}

.about-us-text-adv ul {
  padding: 0;
}

.about-us-text-adv li {
  margin-top: 24px;
  display: flex;
}

.about-us-text-adv li::before {
  content: "";
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
/* Блок с логотипами партёров */
.partners ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.partners li {
  display: flex;
  opacity: 0.2;
}

.partners::before {
  content: "";
  display: block;
  width: 1160px;
  height: 2px;
  background-color: black;
  opacity: 0.2;
  margin-bottom: 50px;
  margin-top: 50px;
}

.partners::after {
  content: "";
  display: block;
  width: 1160px;
  height: 2px;
  background-color: black;
  opacity: 0.2;
  margin-bottom: 49px;
  margin-top: 35px;
}

.first {
  margin: 13px 0px 0px 28px;
}

.second {
  margin: 3px 0px 0px -14px;
}

.third {
  margin: 8px 49px 0px 0px;
}

.forth {
  margin: 8px 40px 0px -38px;
}


.first::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: black;
  opacity: 0.2;
  margin-left: 50px;
}
.second::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: black;
  opacity: 0.2;
  margin-left: 50px;
  margin-top: 12px;
}

.third::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: black;
  opacity: 0.2;
  margin-left: 50px;
  margin-bottom: 10px;
}

.partners li:hover {
  opacity: 1;
}

.partners li:active {
  opacity: 0.1;
}

.partners {
  height: 270px;
}

/* Карта */
.inventory {
  position: relative;
}

.map {
  width: 100%;
  position: relative;
}

.map iframe {
  width: 100%;
}

.address {
  position: absolute;
  background-color: white;
  bottom: 57px;
  width: 320px;
  height: 310px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}


.address-container {
  width: 220px;
  margin: 0 auto;
  padding-top: 47px;
}

.address-container span {
  display: inline-block;
  margin-top: 17px;
}

.address h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: left;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

.address p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  color: #666666;
  text-align: left;

}

.address a {
  height: 38px;
  background-color: #fb565a;
  display: block;
  border-radius: 2px;
  text-align: center;
  padding-top: 12px;
  margin: 0 auto;
  margin-top: 38px;
  color: white;
  text-transform: uppercase;
}

.address a:hover {
  background-color: #e74246;
}

.address a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.map-marker {
  display: block;
  position: absolute;
  bottom: 144px;
  left: 58%;
}

/* Фильтры в каталоге */
.fieldset {
  border: none;
  margin: 15px 0px 25px 0px;
  padding: 0px;
}

.fieldset-features {
  border: none;
  margin: 33px 0px 25px 0px;
  padding: 0px;
}

.button-filters{
  margin-top: 16px;
  text-transform: uppercase;
}

.label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-text {
  margin-left: 12px;
  padding-top: 4px;
}

.input + .label .img-on {
  display: none;
}

.input + .label .img-off {
  display: block;
}

.input:checked + .label .img-on {
  display: block;
}

.input:checked + .label .img-off {
  display: none;
}

.label-img  img{
  opacity: 0.4;
}

.filters legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
}

.filters label {
  line-height: 1.25;
  color: #283136;
}

.price {
  margin-bottom: 36px;
  position: relative;
}

.price fieldset {
  margin-bottom: 50px;
}

.price-point {
  height: 81px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.min-price {
  margin-right: 25px;
}

.min-price input,
.max-price input {
  border: none;
  color: black;
}

.price-strip {
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
  position: absolute;
  top: 117px;
  left: 20px;
}

.left-price {
  position: absolute;
  top: 108px;
  left: 18px;
}

.right-price {
  position: absolute;
  top: 108px;
  left: 160px;
}

.price-strip-fill {
  width: 152px;
  height: 2px;
  background-color: #00bc6c;
  position: absolute;
  top: 117px;
  left: 20px;
}

.min-max-price {
  display: flex;
  width: 260px;
  margin-top: 9px;
  justify-content: space-around;
}

.grid {
  border: none;
  margin: 54px 0px 25px 0px;
  padding: 0px;
}

.min-max-price input {
  width: 68px;
  height: 38px;
  background-color: #eeeeee;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 10px;
}

.min-price,
.max-price {
  width: 130px;
  text-transform: uppercase;
}

.filter-selection {
  padding: 0px;
  margin: 0px;
  line-height: 1.25;
}

.feature-1 {
  margin-top: 15px;
}

.feature-2{
  margin-top: 15px;
}

.feature-3 {
  margin-top: 16px;
}

.feature-4 {
  margin-top: 15px;
}

.feature-5 {
  margin-top: 16px;
}

.filter-selection img:hover {
  opacity: 1;
}

.filter-selection input:disabled ~ label img {
  opacity: 0.1;
}

.filter-selection input:disabled ~ label span {
  color: rgba(40, 49, 54, 0.3);
}

.filters button {
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 1.13;
  width: 260px;
  height: 50px;
  border-radius: 5px;
}

.filters button:hover {
  background-color: #dfdfdf;
}

.filters button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.grid-li1 {
  margin-top: 12px;
}

.grid-li2 {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Стили примеров работ */
.examples-header {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.examples-header span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-top: 17px;
  margin-left: 40px;
}

.examples-header ul {
  display: flex;
  margin-top: 18px;
  margin-left: 204px;
}

.examples-header li {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: black;
  opacity: 0.3;
  margin-right: 26px;
}

.examples-header-icons {
  margin-top: 16px;
}

.examples-header-icons img {
  opacity: 0.3;
}

.icon-down {
  margin-right: 15px;
}

.examples-header li:hover,
.examples-header-icons img:hover{
  opacity: 0.6;
}

.examples-header li:active,
.examples-header-icons img:active{
  opacity: 1;
}

.mini-header {
  opacity: 0.12;
  height: 40px;
  border: none;
}

.card:hover .mini-header{
  opacity: 1;
}

.examples-offer-bottom {
  display: block;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #fb565a;
  color: #ffffff;
  margin: 30px auto 42px auto;
}

.examples-popup {
  width: 360px;
  background-color: #eeeeee;
  padding-top: 35px;
  position: absolute;
  bottom: 0;
}

.examples-popup p {
  display: inline-block;
  text-align: center;
  margin: 0px 65px 0px 65px;
  max-width: 230px;
  height: 36px;
}

.examples-popup .examples-h3 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.67;
  font-weight: bold;
  width: 82px;
  margin: 0 auto 25px auto;
}

.examples-popup p {
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
}

.examples-popup .examples-h3:hover {
  color: #fb565a;
}

.examples-popup .examples-h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.examples-offer-bottom:hover {
  background-color: #e74246;
}

.examples-offer-bottom:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.card:hover .examples-popup {
  display: block;
}

.card {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.mishka,
.barbershop,
.aika,
.kvast {
  margin-top: -4px;
}

/*Пагинация*/

.pagination {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-top: 24px;
}

.page1,
.page {
  width: 50px;
  height: 34px;
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  padding-top: 16px;
  border-radius: 2px;
}

.active-page1 {
  height: 30px;
  width: 45px;
  padding-top: 14px;
  border: solid 3px #dbdbdb;
  background-color: white;
  border-radius: 2px;
}

.next-page {
  width: 260px;
  height: 34px;
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  padding-top: 16px;
  border-radius: 2px;
  text-transform: uppercase;
}

.page:hover,
.next-page:hover {
  background-color: #dfdfdf;
}

.page:active,
.next-page:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/* Стили формы заказа */
.form-offer {
  background-color: white;
  width: 960px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  position: fixed;
  top: 710px;
  left: 240px;
}

.form-container {
  padding: 26px 100px 55px 100px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-email {
  display: flex;
  margin-bottom: 36px;
}

.name-email label {
  display: inline-block;
  margin-bottom: 12px;
}

.name-email input {
  display: inline-block;
  margin-bottom: 12px;
}

.user-email {
  margin-left: 40px;
}

.form-text label{
  display: block;
}

.form-text textarea {
  width: 740px;
  height: 118px;
  border: solid 2px #d7dcde;
  padding-left: 16px;
  padding-top: 14px;
  resize: none;
}

.form-text label {
  display: inline-block;
  margin-bottom: 12px;
}

.form-offer h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.form-offer label {
  font-weight: bold;
  line-height: 1.13;
}

.form-offer button {
  background-color: #fb565a;
  font-weight: 500;
  line-height: 1.13;
  width: 260px;
  height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 40px;
  border: none;
}

.form-offer button:hover {
  background-color: #e74246;
}



.form-offer button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.form-offer input {
  width: 340px;
  height: 50px;
  border: solid 2px #d7dcde;
  padding-left: 16px;
}


.form-offer input:hover,
.form-text textarea:hover{
  border: solid 2px #b4b9bb;
}

.form-offer input:focus,
.form-text textarea:focus{
  border: solid 2px #000000;
}

.form-offer input:invalid {
  border: solid 2px #e74246;
  color: #e74246;
}

.form-text textarea:invalid {
  border: solid 2px #e74246;
  color: #e74246;
}

.cross {
  opacity: 0.3;
}

.cross:hover {
  opacity: 1;
}

.cross:active {
  opacity: 0.1;
}

/* Стили футура */
.main-footer {
  background-color: white;
  height: 217px;
}

.social-button {
  display: block;
  text-align: center;
  padding-top: 25px;
}


footer li:hover {
  background-color: #e74246;
}

footer li:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

footer li:active .social-button {
  opacity: 0.3;
}

.footer-social {
  display: flex;
  padding: 0px;
  margin: 64px 131px 0px -7px;
  width: 273px;
}

footer li {
  display: block;
  width: 74px;
  height: 74px;
  background-color: #e1e1e1;
  margin: 0 10px;
  border-radius: 50%;
}

.footer-friendship {
  width: 600px;
  font-size: 36px;
  height: 35px;
  line-height: 1;
  font-weight: bold;
  margin-top: 68px;
  margin-bottom: 0px;
}

.footer-text {
  margin-left: 3px;
}

.footer-discont {
  margin-top: 12px;
}

.footer-discont {
  line-height: 1.38;
  color: #444444;
  margin-bottom: 76px;
}

footer .container {
  display: flex;
}

.visually-hidden {
  display: none;
}


/*Добавляетм анимацию*/
@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes shake {
  0%, 100%                { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { transform: translateX(10px); }
}

.form-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.form-animation {
  animation-name: bounce;
  animation-duration: 0.6s;
}
