body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

header {
  background-color: #eeeeee;
}

footer {
  background-color: white;
}

a {
  text-decoration: none;
  color: #000000;
}


/* Скрываю форму */
.visually-hidden {
display: none;
}

/* Главная. Шапка */
.main-navigation {
  text-transform: uppercase;
  line-height: 1.88;
}

.site-navigation,
.filters ul {
  list-style: none;
}

.main-navigation a:hover {
  color: #fb565a ;
}

.main-navigation a:active {
  opacity: 0.3;
}

.active-page{
  padding-bottom: 12px;
  border-bottom: 2px solid #fb565a;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo:hover {
  opacity: 0.3;
}

.catalog-h1 {
  margin: 0px;
  height: 48px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

/* Главная. Каталог */
.catalog h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog p {
  font-size: 16px;
  color: #283136;
}

.catalog a {
  line-height: 1.13;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

/*Задаю бэкгрануд и состояния кнопкам «Заказать» на главной*/
.catalog-sites-offer {
  background-color: #fb565a;
}

.catalog-sites-offer:hover {
  background-color: #e74246;
}

.catalog-sites-offer:active {
  background-color: #d7373b;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-apps-offer {
  background-color: #00ca74;
}

.catalog-apps-offer:hover {
  background-color: #00bc6c;
}

.catalog-apps-offer:active {
  background-color: #00aa62;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-pres-offer {
  background-color: #efc84a;
}

.catalog-pres-offer:hover {
  background-color: #efc84a;
}

.catalog-pres-offer:active {
  background-color: #e5a722;
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Задаю бэкгрануд и состояние кнопкам Соцсетям */
footer .social-button {
  background-color: #e1e1e1;
}

footer .social-button:hover {
  background-color: #e74246;
}

footer .social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}


.footer-friendship {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
}

.footer-discont {
  line-height: 1.38;
  color: #444444;
}

/* Фильтры в каталоге */
.filters legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

.filters li {
  line-height: 1.5;
  color: #4d4d4d;
  opacity: 0.4;
}

.filters li:hover {
  opacity: 1;
  line-height: 1.5;
  color: #283136;
}

.filters button {
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 1.13;
}

.filters button:hover {
  background-color: #dfdfdf;
}

.filters button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
  line-height: 1.13;
}


/* Стили формы заказа */
.form-offer h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.form-offer label {
  font-weight: bold;
  line-height: 1.13;
}

.form-offer button {
  background-color: #fb565a;
  font-weight: 500;
  line-height: 1.13;
}

.form-offer input {
  width: 360px;
  height: 50px;
  border: solid 2px #d7dcde;
}

.form-offer input:hover {
  border: solid 2px #b4b9bb;
}

.form-offer input:focus {
  border: solid 2px #000000;
}

.close-cross {
  opacity: 0.3;
}

.close-cross:hover {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}









